@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@layer components {
  .input {
    @apply block p-3 bg-tag-main w-full rounded-lg focus:ring-0 focus:border-accent-main border-2 border-stroke-main;
  }
}

input[type=range] {
  @apply h-1 bg-stroke-main appearance-none;
  direction: rtl;
}
input[type='range']::-webkit-slider-thumb {
  @apply appearance-none cursor-grab bg-gray h-4 w-4 rounded-full;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: colorfull-spin 2s alternate infinite;
  position: absolute;
}

.circle:nth-child(1) {
  animation-delay: 0.1s;
  background: linear-gradient(45deg, #3600D0, #8F00FF, #e81f6c, #FF00E5);
  background-size: 200%;
  width: 45px;
  height: 45px;
}

.circle:nth-child(2) {
  animation-delay: 0.2s;
  background: linear-gradient(45deg, #3600D0, #8F00FF, #e81f6c, #FF00E5);
  background-size: 200%;
  width: 40px;
  height: 40px;
}

.circle:nth-child(3) {
  animation-delay: 0.3s;
  background: linear-gradient(45deg, #3600D0, #8F00FF, #e81f6c, #FF00E5);
  background-size: 200%;
  width: 35px;
  height: 35px;
}

.circle:nth-child(4) {
  animation-delay: 0.4s;
  background: linear-gradient(45deg, #3600D0, #8F00FF, #e81f6c, #FF00E5);
  background-size: 200%;
  width: 30px;
  height: 30px;
}

.circle:nth-child(5) {
  animation-delay: 0.5s;
  background: linear-gradient(45deg, #3600D0, #8F00FF, #e81f6c, #FF00E5);
  background-size: 200%;
  width: 25px;
  height: 25px;
}

.circle:nth-child(6) {
  animation-delay: 0.6s;
  background: linear-gradient(45deg, #3600D0, #8F00FF, #e81f6c, #FF00E5);
  background-size: 200%;
  width: 20px;
  height: 20px;
}

.circle:nth-child(7) {
  animation-delay: 0.7s;
  background: linear-gradient(45deg, #3600D0, #8F00FF, #e81f6c, #FF00E5);
  background-size: 200%;
  width: 15px;
  height: 15px;
}

.circle:nth-child(8) {
  animation-delay: 0.8s;
  background: linear-gradient(45deg, #3600D0, #8F00FF, #e81f6c, #FF00E5);
  background-size: 200%;
  width: 10px;
  height: 10px;
}

@keyframes colorfull-spin {
  0% {
    border-radius: 50%;
    transform: rotate(0);
    background-position: 0 50%;
  }
  20% {
    border-radius: 50%;
    transform: rotate(0);
  }
  50% {
    background-position: 100% 50%;
  }
  90% {
    border-radius: 5%;
    transform: rotate(90deg);
  }
  100% {
    border-radius: 5%;
    transform: rotate(90deg);
    background-position: 0 50%;
  }
}
